<div class="cont">
  <img class="jason1" [src]="imgLink" alt="Snow" />
  <div class="jumbotron bg-dark">
      <div class="container">
          <div class="row">
            <div class="col--4">
              <img
                class="img-responsive animate__animated animate__rotateIn"
                src="../../assets/received_10205402903344343.jpg"
                alt="Norberto"
                style
              />
            </div>
            <div class="col-sm-6 animate__animated animate__lightSpeedInRight  animate_slower-5s" style="margin-left: 100px;">
              <h1 class="text-white">About Me:</h1>
              <p class="text-white">
                I'm Norberto Hilario, a Electronics Enginner who specializes on
                Bio-Medical Equipments. Programming has always been a part of me since
                college, but due to my different line of work I'have stop
                developing my skills on programming.<br>But during this pandemic, It has
                given me the time to study different programming skills that I'am
                using on Web Development.
            </p>
        </div>
    </div>
</div>

  </div>
  <div class="container2">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="img-responsive animate__animated animate__rotateIn"
          src="../../assets/received_10205402903344343.jpg"
          alt="Norberto"
          style
        />
      </div>
      <div class="col-sm-6 animate__animated animate__rotateIn animate_delay-2s">
        <h1 class="text-white">About Me:</h1>
        <p class="text-white">
          I'm Norberto Hilario, a Electronics Enginner who specializes on
          Bio-Medical Equipments. Programming has always been a part of me since
          college, but due to my different line of work I'have stop
          developing my skills on programming.<br>But during this pandemic, It has
          given me the time to study different programming skills that I'am
          using on Web Development.
        </p>
</div>
