<div class="cont">
    <img class="jason2" [src]="img3" alt="Snow" />  
    <div class="row animate__animated animate__zoomInDown">
        <div class="col">
            
            <img class="html" [src]="htl" alt="snow"/>
        </div>
        <div class="col">
            <img class="css" [src]="cs3" alt="fire"/>
            
        </div>
        <div class="col">
            
            <img class="js" [src]="jst" alt="earth"/>
        </div>
        <div class="col">

            <img class="bootstp" [src]="btp" alt="wind"/>
        </div>
        <div class="col">
            <img class="angular" [src]="ang" alt="light"/>

        </div>

</div>